#container {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type='radio']{
  visibility: hidden;
}


#color-input{
  width: 50%;
}

#color-input:hover {
  background-color: #909CA0;
}

#color-input:focus {
  background-color: #909CA0;
}

#button-div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
}

#main-button, #reset-button {
  width: 40%;
}

#output-div {
  float: right;
  margin-right: 5vw;
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  overflow-y: scroll;
}

.form-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.form-section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.out-box {
  margin: 0 auto;
  width: 30%;
  height: 10vh;
  border: 1px solid black;
}

.radio{
  width: 60%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.1em;
}
