/*
FORM STYLES
*/
#main_form {
  max-width: 40%;
  height: 110vh;
  float: left;
  margin: 0 auto;
  background-color: #FAFAFF;
  text-align: center;
  border-right: 1px solid #AAAABF;
}

#submit-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  overflow: hidden;
}



.form-body {
  margin: 0 15px 0 15px;
  text-align: left;
}
.form-row {
  display: block;
  margin-bottom: 10px;
}

.range-slider {
  width: 90%;
}

/*
DATA TABLE STYLE
*/
th {
  text-align: center;
}

#table-container {
  margin: 0 auto;
  margin-top: 5vh;
  width: 40%;
  max-height: 45vh;
  overflow-y:auto;
  margin: 1px solid #DDDDDD;
}

#main-table {
  text-align: center;
}

/*
Chart styles
*/
#chartdiv {
  margin: 0 auto;
  width: 50%;
  height: 45vh;
  background-color: #FFFFFF;
}
.col {
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  font-weight: bold;
}
