body {
  padding-top: 50px;
  margin: 0;
  width: 100%;
  height: 100%;
}

#navbar-header {
  font-weight: bold;
  color: #000099;
  letter-spacing: 3px;
}

.nav-text{
  font-weight: bold;
  font-size:1.2em;
}

.nav-text:hover {
  background-color: #DDD !important;
  color: #44C !important;
}

.shadowbox {
  -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
}
