a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a{
  text-decoration: none;
}

label {
  margin-top: 5px;
}
#container{
  margin-bottom: 20px;
}

#submit-button {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

#main_form {
  display: none;
}

#open-form {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align:center;
}

.container {
  margin: 0;
  float: left;
}

.form-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.form-section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  margin: 0 10px 0 10px;
}

.result-header {
  width: 90%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 4px;
  font-weight: bold;
  background-color: #D5D5FF;
  border: 1px solid #90B0C0;
}
#result-header-copy {
  display: inline;
  float:right;
  margin: 10px 10px 10px 10px;
  vertical-align: center;
  font-size: 1.5rem;
  letter-spacing: normal;
  color: #000055;

}
#result-header-copy:hover {
  cursor: pointer;
  background-color: #C5C5DF;
  border-radius: 8px;
}

.result-content {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #90B0C0;
  border-top: none;
}
